

S3method(Ops,ov)
S3method(print,ov)
S3method(is,ov)

export(obsolete_value)

export(make_obsolete)

export(get_value_by_expression)

export(condition_obsolete)
export(time_obsolete)
export(file_obsolete)
export(state_function_obsolete)
export(dependent_obsolete)
export(opposite)
export(combine_obsoletion_functions)
export("%and%")
export("%or%")

